<div class="container">

  <h1>Edit Book</h1>

  <p>Book Id: {{ id }}</p>

  <div>

    <label>Title</label>

    <input
      type="text"
      [(ngModel)]="title">

  </div>

  <div>

    <label>Author</label>

    <input
      type="text"
      [(ngModel)]="author">

  </div>

  <div>

    <label>Category</label>

    <input
      type="text"
      [(ngModel)]="category">

  </div>

  <br>

  <button
    (click)="updateBook()">

    Update Book

  </button>

  <p>{{ successMessage }}</p>

</div>